  GNU nano 8.2                                                            etho                                                             Modified  
[Match]
Name=enp0s25
[Network]
DHCP=yes

